body{
    margin: 0;
    
    *{
        font-family: 'Prompt', sans-serif;
        
    }

    span{
        font-size: 16px;
    }
}

.page-container{
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    height: calc(100vh - 20px);
}