<div class="sidebar-panel">
    <div class="sidebar">
 <div class="header">
        <!-- <img src="" alt=""> -->
        <h1>
            Khood Huay
        </h1>
    </div>
    <div class="item-list">
        <div class="item" *ngFor="let item of menuList">
            <a [routerLink]="[item.path]" [ngClass]="{'active': item.isActive }" (click)="onSelectMenu(item)">
                <i class="pi pi-ticket"></i>
                {{item.label}}
            </a>
        </div>
    </div>
    </div>
   
</div>
