@import "/src/assets/scss/variable.scss";

.sidebar-panel{
    padding: 1rem;
    width: 250px;
    height: 100vh;
    color: white;
    position: fixed;
    top: 0;
    left: 0;

}

.sidebar{
    
    
    .header{
        text-align: center;
    }

    .item-list{
        .item{
            margin: 0.5rem 0;
            
            a{
                padding: 0.5rem ;
                color: white;
                text-decoration: none;
                display: flex;
                align-items: center;
                font-size: 18px;
            }

            

            a:hover{
                padding-left: 16px;
            }
            
            a.active{
                color: black;
                background-color: $secondary;
                border-radius: 1rem;
            }
            
        }
    }
}

.pi-ticket{
    font-size: 18px;
    margin-right: 16px;
    margin-left: 12px;
    margin-top: 4px;
}